body {
    background: url('spikes/spikes.png');
}


/* 
Teal color: #4aaaa5
regular font color: #77777
Main header border color: #fffff
Footer background color: #66666
Main content background color: #fffff
Main content background color: #ddddd

fonts: font-family: 'Georgia', Times, Times New Roman, serif;
fonts: 'Arial', 'Helvetica Neue', Helvetic, sans-serif

*/